@import '../../node_modules/effortless-css/less/all.less';

@font-face {
    font-family: OpenSans;
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: OpenSans;
    font-weight: bold;
    src: url('../fonts/OpenSans-Bold.ttf');
}

.ample-autocomplete {
    position: relative;
    width: 300px;
    font-family: OpenSans;

    .ample-autocomplete-input {
        .box-sizing(border-box);
        width: 100%;
        height: 30px;
        font-family: OpenSans;
        font-size: 14px;
        padding: 5px;
    }

    .ample-autocomplete-options {
        .box-sizing(border-box);
        border: 1px solid #ccc;
        border-top: none;
        background-color: #fff;
        position: absolute;
        top: 30px;
        width: 100%;
        font-size: 14px;
        visibility: collapse;

        .ample-autocomplete-option {
            .box-sizing(border-box);
            height: 30px;
            line-height: 20px;
            padding: 5px;
            cursor: default;

            &.focused,
            &.hovered,
            &:hover {
                background-color: #777;
                color: #fff;
            }
        }
    }

    &.open {

        .ample-autocomplete-options {
            visibility: visible;
        }
    }
}
